.header {
  z-index: 1;
  flex: 0 0 auto;
  padding: 10px 0;
  background-color: var(--imperial-red);

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-left,
  &-right {
    display: flex;
    align-items: center;
  }

  &__action {
    margin-right: 20px;
    border-radius: 3px;
    padding: 3px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: var(--background-primary);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__hamburger-menu {
    &-bar {
      display: block;
      margin: 3px 0;
      width: 20px;
      height: 2px;
      background-color: var(--white);
      transition: var(--average-transition);
    }

    &:hover &-bar {
      background-color: var(--anti-flash-white);
    }
  }

  &__house,
  &__add-task,
  &__user {
    display: flex;
    align-items: center;
    color: var(--white);
    transition: var(--average-transition);
  }

  &__add-task {
    padding: 5px;
  }

  &__form {
    position: relative;
  }

  &__search-icon {
    position: absolute;
    left: 5%;
    top: 20%;
    color: var(--white);
    cursor: pointer;
  }

  & &__search {
    padding-left: 40px;
  }
}
