.tasks {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 60px;
  }

  &__title {
    font-size: 26px;
  }

  &__tags-item.tags__item:last-child {
    margin-right: 0;
  }

  &__status {
    display: flex;
    justify-content: center;
    padding-top: 160px;
    visibility: visible;
    opacity: 1;

    &-inner {
      text-align: center;
    }

    &-image {
      margin-bottom: 20px;
    }

    &-title {
      font-size: 20px;
      color: var(--gunmetal);
    }

    &-subtitle {
      padding-top: 5px;
      font-size: 16px;
      color: var(--grey);
    }
  }

  &__add-tasks {
    padding-top: 30px;
  }
}

@media screen and (max-width: 1180px) {
  .tasks {
    &__header {
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .tasks {
    & .tags__item-icon {
      padding-right: 0;
    }

    .tag__item-text {
      display: none;
    }
  }
}

@media screen and (max-width: 820px) {
  .tasks {
    &__header {
      flex-direction: column;
      justify-content: space-between;
      height: 140px;
    }
  }
}
