.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;

  &__title {
    font-size: 18px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
  }

  &__toggle {
    align-self: center;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    user-select: none;
    transition: all 0.35s ease;

    &[aria-expanded='true'] {
      transform: rotateZ(-180deg);
    }
  }

  &__content {
    max-height: 1000px;
    overflow: hidden;
    transition: max-height 1s ease-in-out;

    &[aria-expanded='true'] {
      max-height: 0;
      transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    }
  }
}
