.input {
  width: 205px;
  padding: 5px 10px;
  font-family: var(--font-family-common);
  font-size: 14px;
  color: var(--white);
  background-color: var(--background-primary);
  border: none;
  border-radius: 3px;
  outline: none;

  &::placeholder {
    color: var(--white);
    letter-spacing: 2px;
  }
}
