.input {
  color: var(--white);
  background-color: var(--background-primary);
  font-family: 'SF Rounded';
  border: none;
  outline: none;
  width: 205px;
  font-size: 14px;
  border-radius: 3px;
  padding: 5px 10px;

  &::placeholder {
    color: var(--white);
    letter-spacing: 2px;
  }
}
