.tags {
  display: flex;
  align-items: center;

  &__item {
    display: flex;
    align-items: center;
    padding: 6px;
    margin-right: 20px;
    color: var(--grey);
    background-color: transparent;
    border-radius: 3px;
    transition: var(--average-transition);

    &-icon {
      display: flex;
      align-items: center;
      padding-right: 10px;
      color: var(--grey);
      transition: var(--average-transition);
    }

    &:hover {
      color: var(--gunmetal);
      cursor: pointer;
      background-color: var(--background-secondary);
    }

    &:hover &-icon {
      color: var(--gunmetal);
    }
  }
}
