*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

textarea {
  resize: none;
}

img {
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: var(--font-family-common);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--gunmetal);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--imperial-red);
  border-radius: 4px;
}

.content {
  flex: 1 0 auto;
  width: calc(100% - 358px);
  margin-left: 358px;
  transition: var(--average-transition);

  &-only {
    width: 100%;
    margin-left: 0;
  }
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  transition: var(--average-transition);
}

.pages-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  transition: var(--average-transition);
}

.main {
  height: 100%;
}

@media screen and (max-width: 1820px) {
  .container {
    max-width: 90%;
  }
}

@media screen and (max-width: 1180px) {
  .pages-container {
    max-width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  .pages-container {
    max-width: 60%;
  }
}

@media screen and (max-width: 650px) {
  .content {
    width: 100%;
    margin-left: 0;
  }
}
