:root {
  --white: #fff;
  --lotion: #fafafa;
  --anti-flash-white: #edf2f4;
  --light-pink: #fde9ec;
  --cool-grey: #8d99ae;
  --grey: #888;
  --imperial-red: #ef233c;
  --candy-red: #d90429;
  --gunmetal: #2b2d42;
  --background-primary: rgba(255 255 255 / 30%);
  --background-secondary: #eee;

  // transitions (for stylelint)
  --average-transition: all 0.3s ease-in-out;

  // font-families (for stylelint)
  --font-family-common: "SF Rounded";
}

@mixin aside-title {
  width: 95%;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 20px;
  line-height: 44px;
  color: var(--gunmetal);
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 3px;
}

@mixin display-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
