:root {
  --white: #fff;
  --gunmetal: #2b2d42;
  --cool-grey: #8d99ae;
  --anti-flash-white: #edf2f4;
  --imperial-red: #ef233c;
  --candy-red: #d90429;
  --lotion: #fafafa;
  --grey: #888;
  --background-primary: rgba(255 255 255 / 30.2%);
  --background-secondary: #eee;

  // transitions (for stylelint)
  --average-transition: all 0.3s ease-in-out;

  // font-families (for stylelint)
  --font-family-common: 'SF Rounded';
}

@mixin aside-title {
  width: 95%;
  padding: 0 10px;
  margin: 5px 0;
  font-size: 20px;
  line-height: 44px;
  color: var(--gunmetal);
  text-transform: capitalize;
  background-color: transparent;
  border-radius: 3px;
}
